<ion-header>
  <ion-toolbar>
    <ion-title>File Manager</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-content>
      <ion-item>
        <ion-label position="stacked">File Name</ion-label>
        <ion-input [(ngModel)]="fileName"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">File Content</ion-label>
        <ion-textarea [(ngModel)]="fileContent"></ion-textarea>
      </ion-item>

      <ion-button expand="full" (click)="saveOrUpdateFile()">
        {{ isEditing ? 'Update' : 'Save' }}
      </ion-button>
    </ion-card-content>
  </ion-card>

  <ion-list>
    <ion-item *ngFor="let file of fileList; let i = index">
      <ion-label>{{ file.name }}</ion-label>
      <ion-button (click)="editFile(i)">Edit</ion-button>
      <ion-button color="danger" (click)="deleteFile(i)">Delete</ion-button>
    </ion-item>
  </ion-list>
</ion-content>

<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon name="home"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="files">
      <ion-icon name="folder"></ion-icon>
      <ion-label>Files</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="settings">
      <ion-icon name="settings"></ion-icon>
      <ion-label>Settings</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
